<div class="signup">
    <h2>Log In</h2>
    <h3>It's quick & simple</h3>
    <form class="form" method="post" action="/login">
        <div class="textbox">
            <input type="text" name="email" required />
            <label>Email</label>
            <span class="material-symbols-outlined"> email </span>
        </div>
        <div class="textbox">
            <input type="password" name="password" required  />
            <label>Password</label>
            <span class="material-symbols-outlined"> key </span>
        </div>
        <div class="links">
            <a href="/forget-password">Forget Password?</a>
        </div>
        <p>
            Don't have an Account?
            <a href="/signup">Signup here</a>
        </p>

        <button type="submit">
            Log In
            <span class="material-symbols-outlined"> arrow_forward </span>
        </button>
    </form>
</div>