<div class="signup">
    <h2>Sign Up</h2>
    <h3>It's quick & simple</h3>
    <form class="form">
        <div class="textbox">
            <input type="text" required />
            <label>Name</label>
            <span class="material-symbols-outlined"> account_circle </span>
        </div>
        <div class="textbox">
            <input type="text" required />
            <label>Email</label>
            <span class="material-symbols-outlined"> email </span>
        </div>
        <div class="textbox">
            <input type="password" required />
            <label>Password</label>
            <span class="material-symbols-outlined"> key </span>
        </div>
        <p>
            Signed up already?
            <a href="/login">Login here</a>
        </p>

        <button type="submit">
            Join Us
            <span class="material-symbols-outlined"> arrow_forward </span>
        </button>
    </form>
</div>