<div class="welcome">
    <h2>Welcome!</h2>
    <img src="../public/img/klipartz.com.png" alt="Logo" class="logo">
    <h3 class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quae itaque adipisci deleniti sed cum
        ratione vitae saepe labore quos dignissimos molestias dolor omnis.
    </h3>
    <div class="lower">
        <hr class="line">
        <p class="text">---Connect Using---</p>
        <div class="socials">
            <div class="text-center">
                <a href="https://wwww.facebook.com" target="_blank" class="px-3"><img width="64" height="64"
                        src="../public/img/icons8-github-64.png" alt="github" /></a>
                <a href="https://www.google.com" target="_blank" class="px-3"><img width="50" height="50"
                        src="../public/img/icons8-facebook-logo-50.png" alt="facebook-new" /></a>
                <a href="https://www.github.com" target="_blank" class="px-3"><img
                        src="../public/img/icons8-google-logo-50.png" alt=""></a>
            </div>
        </div>
        <div>
            <br>
            <p class="text">---Continue With Email---</p>
            <a href="/signup" class="link">Sign Up</a><span class="a">  |  </span>
            <a href="/login" class="link">Log In</a>
        </div>
    </div>

</div>